data/Celeb-real
data/Celeb-synthesis
data/YouTube-real
data/Celeb-DF-v2.zip
data/record

__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

checkpoints
output
output0
output1
output2
output3
output4
output5
output6

output_extract
visualization

tmp
output_restore
